* {
  margin: 0;
  padding: 0;
  /* color: white; */
  font-family: 'Noto Sans KR';
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
button{
  border : none;
  background : transparent;
}

::-webkit-scrollbar-thumb {
  background: #dfdedd;
  border: 2px solid #ffffff;
  border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #7c9fd8;
}

body {
  position: relative;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 2px;
  /*background-color: #e3f2ff;*/
  /* background-color: #1a1a1a; */
}

li {
  list-style: none;
}


h4 {
  width : 170px ;
  font-size: 15px;
  border-radius: 10px;
  padding: 3px 17px;
  border: 1.2px solid #8b8888;
  opacity: 0.5;
  margin: 30px 10px 10px 37px;
  cursor: default;
  color: #8b8888;
}

h3 {
  padding: 10px;
  min-width : 460px;
  font-size: 15px;
  line-height: 1.5;
}

h2 {
  position: relative;
  top: 7px;
  margin: 0px 10px 0px 0px;
  font-size: 20px;
}

h1 {
  padding: 5px 5px 0px 5px;
  margin: 20px 5px 0px 20px;
  font-size: 30px;
  cursor: default;
  /* color: #ffffff; */
  color: rgb(0, 0, 0)
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}


.window {
  width: 790px;
  overflow: hidden;
}

.center_align_90{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.title {
  background-color: #e3e1e1;
  border-bottom: 1px solid #f5f1f1;
}

.title > img{
  width: 50px;
  height: 50px;
}

.title > .btn_tab_wrapper{
  width: 90%;
  display : flex;
}

.title .btn_tab{
  margin: 0px 3px;
  width: 30px;
  height: 30px;
  border : 1px solid #2d2d2d;
  border-radius: 30px;
}

.title .btn_tab > img{
  border-radius: 30px;
}

.contents_container {
  width: 790px;
  min-height: 700px;
  overflow-x: hidden;
}

.content_row{
  display : flex;
  margin: 10px;
  flex-direction: column;
  align-items: center;
}

.content_row .card{
  display: flex;
  width: 90%
}

.arrange {
  display:flex;
  align-items: center;
}

.btn_delete_img {
  width: 17px;
  height: 17px;
}

.btn_delete{
  width: 17px;
  height: 17px;
  border : none;
  background : #fefefe;
  border-radius : 19px;
  transition : all 0.7s;
}

.btn_swap_img {
  width: 19px;
  height: 19px;
  border-radius : 19px;
}

.btn_swap {
  width: 19px;
  height: 19px;
  bottom : 0px;
  right : 2px;
}

.card h3 {
  color: black;
}

.thumbnail {
  width: 197px;
  height: 111px;
}

.contents {
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 3px 7px 25px 7px;
  position: relative;
  left: 15px;
  width: 750px;
  /*background :rgba(248, 246, 246, 0.767);*/
  border-bottom: 1px solid #cfd1d1
}

.card > a {
  display: flex;
}

.card > a > img {
  border-radius: 12px;
}


button:hover {
  cursor:pointer;
  opacity : 1;
}



.btn_delete:hover{
  opacity: 1;
}
